#Taller de análisis de datos con python en Minería
Bienvenidos al **Taller de Análisis de Datos con Python en Minería** - Laboratorio de Software Minero UNI 2024

¡Saludos a todos los entusiastas de la minería y la programación! Nos complace dar inicio al Taller de Análisis de Datos con Python, una experiencia educativa diseñada para explorar las poderosas herramientas que ofrece Python en el ámbito del análisis de datos. Este taller proporcionará una introducción a las técnicas y bibliotecas más relevantes, permitiéndoles a los participantes adquirir habilidades esenciales para el análisis efectivo de datos en la industria minera.

A lo largo de este taller, nos sumergiremos en conceptos clave, desde la manipulación básica de datos hasta técnicas avanzadas de visualización. Python, con su sintaxis clara y su ecosistema robusto, se convierte en la elección ideal para aquellos que buscan mejorar sus habilidades en el análisis de datos aplicado a la minería.

Prepárense para una experiencia hands-on, donde cada línea de código que escriban los acercará más a la comprensión profunda de los datos en el contexto minero. Estamos emocionados de acompañarlos en este viaje educativo y esperamos que al final del taller, se sientan capacitados para abordar desafíos reales en el análisis de datos en la industria minera.

¡Vamos a sumergirnos juntos en el fascinante mundo del análisis de datos con Python en la minería!

#1.  Python essentials

###Fundamentos

In [ ]:
""" Sintaxis Básica:"""

# Declaración de variables
nombre = ""
edad =
salario =

In [ ]:
# Operadores aritméticos
a =
b =
suma = a + b
resta = a - b
multiplicacion = a * b
division = a / b

In [ ]:
print(suma, resta, multiplicacion, division)

In [4]:
# Operadores lógicos
condicion_1 =
condicion_2 =

and_resultado = condicion_1 and condicion_2
or_resultado = condicion_1 or condicion_2
not_resultado = not condicion_1

In [ ]:
print(and_resultado,or_resultado,not_resultado)

In [5]:
# Estructuras de control
nota =

if nota >= :
    print("Excelente")
elif nota >= :
    print("Buen trabajo")
else:
    print("Necesitas mejorar")

Buen trabajo

In [ ]:
# Bucle for
for i in range(5):
    print(i)

In [ ]:
# Bucle while
contador = 0
while contador < 5:
    print(contador)
    contador += 1

###Estructuras de Datos

In [20]:
""" Estructuras de Datos:"""

# Listas
mi_lista = [1, 2, 3, 4, 5]
print(mi_lista)

# Tuplas
mi_tupla = (10, 20, 30)
print(mi_tupla)

# Diccionarios
mi_diccionario = {"nombre": "Juan", "edad": 25, "ciudad": "Lima"}
print(mi_diccionario)

[1, 2, 3, 4, 5]
(10, 20, 30)
{'nombre': 'Juan', 'edad': 25, 'ciudad': 'Lima'}

In [21]:
# Acceso y manipulación de elementos en listas
primer_elemento = mi_lista[0]
mi_lista.append(6)
mi_lista[2] = 300

# Acceso y manipulación de elementos en tuplas
tercer_elemento_tupla = mi_tupla[2]

# Acceso y manipulación de elementos en diccionarios
edad_juan = mi_diccionario["edad"]
mi_diccionario["ocupacion"] = "Ingeniero"

In [22]:
# Funciones integradas para listas
longitud_lista = len(mi_lista)
suma_lista = sum(mi_lista)
indice_elemento = mi_lista.index(4)

# Funciones integradas para diccionarios
claves_diccionario = mi_diccionario.keys()
valores_diccionario = mi_diccionario.values()
items_diccionario = mi_diccionario.items()

###Funciones

In [ ]:
# Creación de una función
def saludar():
    print("¡Hola! Bienvenido al taller.")

# Llamada a la función
saludar()

In [ ]:
# Función con parámetros
def sumar(a, b):
    resultado = a + b
    print(f"La suma de {a} y {b} es {resultado}")

# Llamada a la función con argumentos
sumar(5, 3)

In [ ]:
# Función con retorno de valor
def multiplicar(x, y):
    producto = x * y
    return producto

# Llamada a la función y uso del valor retornado
resultado_multiplicacion = multiplicar(4, 7)
print(f"El resultado de la multiplicación es: {resultado_multiplicacion}")

###Manejo de archivos,

In [24]:
# Escritura de un archivo de texto
with open("archivo.txt", "w") as archivo_escritura:
    archivo_escritura.write("Hola, este es un ejemplo de escritura en archivo.")

In [ ]:
# Lectura de un archivo de texto
with open("archivo.txt", "r") as archivo_lectura:
    contenido = archivo_lectura.read()
    print("Contenido del archivo:", contenido)

In [ ]:
import csv

# Escritura de un archivo CSV
datos_csv = [["Nombre", "Edad", "Ciudad"],
             ["Juan", 25, "Lima"],
             ["María", 30, "Arequipa"]]

with open("datos.csv", "w", newline="") as archivo_csv:
    escritor_csv = csv.writer(archivo_csv)
    escritor_csv.writerows(datos_csv)

# Lectura de un archivo CSV
with open("datos.csv", "r") as archivo_csv_lectura:
    lector_csv = csv.reader(archivo_csv_lectura)
    for fila in lector_csv:
        print(fila)

###Librerías Esenciales para el Análisis de Datos

In [26]:
import numpy as np

# Creación de un array con NumPy
array_np = np.array([1, 2, 3, 4, 5])

# Operaciones numéricas con NumPy
suma_array = np.sum(array_np)
promedio_array = np.mean(array_np)

In [38]:
import pandas as pd

# Creación de un DataFrame con Pandas
data = {'Nombre': ['Juan', 'María', 'Carlos'],
        'Edad': [25, 30, 22],
        'Ciudad': ['Lima', 'Arequipa', 'Cusco']}

df = pd.DataFrame(data)

# Mostrar el DataFrame
print(df)

# Acceso a columnas específicas
edades = df['Edad']

   Nombre  Edad    Ciudad
0    Juan    25      Lima
1   María    30  Arequipa
2  Carlos    22     Cusco

In [ ]:
import matplotlib.pyplot as plt

# Creación de un gráfico de barras con Matplotlib
x = ['A', 'B', 'C', 'D']
y = [10, 20, 15, 25]

plt.bar(x, y)
plt.xlabel('Categorías')
plt.ylabel('Valores')
plt.title('Gráfico de Barras')
plt.show()